* {
  box-sizing: border-box;
  margin: 0;
}
.white-box {
  width: 736px;
  height: 512px;
  background-color: white;
  border-radius: 32px;
  display: flex;
}
.background {
  background-color: #ecf2ff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue-box {
  width: 368px;
  height: 512px;
  background: var(--Gradient-1, linear-gradient(180deg, #75F 0%, #6943FF 0.01%, #2F2CE9 100%));
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.paragraph-1 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #cac9ff;
}
.circle {
  width: 200px;
  height: 200px;
  background: var(--Gradient-2, linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0.00) 100%, rgba(37, 33, 201, 0.00) 100%));
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading-1 {
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
  color: #fff;
}
.span-1 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  color: #cac9ff;
}
.result-text {
  width: 260px;
  height: 134px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.result-text1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  color: #fff;
}
.result-text2 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  color: #cac9ff;
  text-align: center;
}
.summary {
  width: 368px;
  height: 512px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.red-box1 {
  width: 288px;
  height: 56px;
  border-radius: 12px;
 background: var(--red-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #F55);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.icon {
  width: 20px;
  height: 20px;
}
.icon-box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.reaction {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #ff5555;
}
.score-number {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: navy;
}
.max-score {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #303b59;
}
.yellow-box2 {
  width: 288px;
  height: 56px;
  background: var(--yellow-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #FFB21E);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 12px;
}
.memory {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #ffb21e;
}
.green-box3 {
  width: 288px;
  height: 56px;
 background: var(--green-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #00BB8F);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.blue-box4 {
  width: 288px;
  height: 56px;
  background: var(--blue-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #1125D6);

  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.verbal {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #00bb8f;
}
.visual {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #1125d6;
}
.button {
  width: 288px;
  height: 56px;
  border-radius: 128px;
  margin: 0;
  background-color: #303b59;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  color: #fff;
}
.color-boxes {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
